<!doctype html>
{% extends 'base.html' %}
{% load static %}
<html>


<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %} KUST WUDIL STORE PROCUREMENT  SYSTEM {% endblock %}</title>
</head>
<body>

{% block content %}
<div class="banner-area-three banner-bg">
<div class="container">
<div class="banner-content banner-content-three">
<h1>Kust Wudil, Store Procurement System</h1>
<p>
A digitalized University Procurement system that offers many transformational benefits,
 not least making a Faculties’s operations much more efficient and manageable.</p>
<div class="banner-btn">
<a href="/accounts/login" class="contact-btn">Log-in</a>
<a href="{% url 'users:signup' %}" class="get-btn">Register</a>
</div>
</div>
</div>
</div>


<div class="client-area-two ptb-50">
<div class="container">
<div class="section-title text-center">
<p>
<p>
<p>
<h2>KUST WUDIL STORE PROCUREMENT DEPARTMENT</h2>
<p>
To Provide a Proper Way of Requesting from Office,
Using principles of acceptable value at best Standards, transparency, 
 and equal and fair competition in compliance with board policy and University law

</p>
</div>
<div class="client-slider owl-carousel owl-theme pt-45">
<div class="client-card">

<h3>PROF. SHEHU ALHAJI MUSA</h3>
<span>Vice Chancellor</span>
<ul>
<li>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
</li>
 </ul>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non ullamcorper
tortor, vel mattis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<i class="flaticon-quote client-card-quote"></i>
<div class="client-card-img">
<img src="{% img/team/vcs.jfif" alt="Images">
</div>
</div>
<div class="client-card">
<h3>Aminu Bello</h3>
<span>THE REGISTERER</span>
<ul>
<li>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
</li>
</ul>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non ullamcorper
tortor, vel mattis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<i class="flaticon-quote client-card-quote"></i>
<div class="client-card-img">
<img src="{% img/team/vcs.jfif" alt="Images">
</div>
</div>
<div class="client-card">
<h3>AMINU MUDI</h3>
<span>Academic Secretary</span>
<ul>
<li>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>

</li>
</ul>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non ullamcorper
tortor, vel mattis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<i class="flaticon-quote client-card-quote"></i>
<div class="client-card-img">
<img src="{% img/team/vcs.jfif" alt="Images">
</div>
</div>
</div>
</div>
</div>
<hr>
{% endblock %}
</body>

</html>