<!doctype html>
{% load static %}
<html>


<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">
<link rel="stylesheet" href="{%  static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{%  static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{%  static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{%  static 'css/meanmenu.css' %}">
<link rel="stylesheet" href="{%  static 'css/nice-select.min.css' %}">
<link rel="stylesheet" href="{%  static 'css/style.css' %}">
<link rel="stylesheet" href="{%  static 'css/responsive.css' %}">
<title>KUST WUDIL STORE PROCUREMENT  SYSTEM</title>
<link rel="icon" type="image/png" href="{% static 'img/Logon.png' %}">
</head>
<body>

<div class="preloader">
<div class="d-table">
<div class="d-table-cell">
<div class="spinner"></div>
</div>
</div>
</div>

<div class="navbar-area">

<div class="mobile-nav">
<a href="index-3.html" class="logo">
<img src="{% static 'img/Logon.png' %}" alt="Logo">
</a>
</div>

<div class="main-nav">
<div class="container">
<nav class="navbar navbar-expand-md navbar-light ">
<a class="navbar-brand" href="index.html">
<img src="{% static 'img/logon.png' %}" alt="Logo">
</a>
<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
<ul class="navbar-nav m-auto">
    <li class="nav-item">
        <a href="#" class="nav-link active"><b>Home</b>  </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link"> <b>Admin</b>
        <i class='bx bx-chevron-down'></i>
        </a>
<ul class="dropdown-menu">
    <li class="nav-item">
    <a href="{%  url 'admin:login' %}" class="nav-link"><b> Login</b> </a>
    </li>
</ul>
    </li>
    
<li class="nav-item">
<a href="#" class="nav-link">
<b>Faculties</b>
<i class='bx bx-chevron-down'></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="#" class="nav-link">
<b> FACULTY OF COMPUTING AND MATHEMATICAL SCIENCES </b>
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
<b> FACULTY OF EARTH AND ENVIROMENTAL SCIENCE </b>
</a>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
<b> FACULTY OF ENGINEERING </b>
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="#" class="nav-link">
<b>Contacts</b>
</a>
</li>
</ul>
<div class="others-options d-flex align-items-center">
<div class="option-item">
<i class='search-btn bx bx-search'></i>
<i class='close-btn bx bx-x'></i>
<div class="search-overlay search-popup">
<div class='search-box'>
<form class="search-form">
<input class="search-input" name="search" placeholder="Search" type="text">
<button class="search-button" type="submit">
<i class="bx bx-search"></i>
</button>
</form>
</div>
 </div>
</div>
<div class="option-item">
<div class="menu-icon d-in-line">
<a href="#" class="burger-menu menu-icon-two">
<i class='flaticon-menu'></i>
</a>
</div>
</div>
</div>
</div>
</nav>
</div>
</div>
<div class="side-nav-responsive">
<div class="container">
<div class="dot-menu">
<div class="circle-inner">
<div class="circle circle-one"></div>
<div class="circle circle-two"></div>
<div class="circle circle-three"></div>
</div>
</div>
<div class="container">
<div class="side-nav-inner">
<div class="side-nav justify-content-center align-items-center">
<div class="side-item">
<div class="option-item">
<div class="menu-icon d-in-line">
<a href="#" class="burger-menu menu-icon-two">
<i class='flaticon-menu'></i>
</a>
</div>
</div>
</div>
<div class="side-item">
<div class="option-item">
<i class='search-btn bx bx-search'></i>
<i class='close-btn bx bx-x'></i>
<div class="search-overlay search-popup">
<div class='search-box'>
<form class="search-form">
<input class="search-input" name="search" placeholder="Search" type="text">
<button class="search-button" type="submit">
<i class="bx bx-search"></i>
</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="banner-area-three banner-bg">
<div class="container">
<div class="banner-content banner-content-three">
<h1>Kust Wudil, Store Procurement System</h1>
<p>
A digitalized University Procurement system that offers many transformational benefits,
 not least making a Faculties’s operations much more efficient and manageable.</p>
<div class="banner-btn">
<a href="#" class="contact-btn">Log-in</a>
<a href="#" class="get-btn">Register</a>
</div>
</div>
</div>
</div>


<div class="client-area-two ptb-50">
<div class="container">
<div class="section-title text-center">
<p>
<p>
<p>
<h2>KUST WUDIL STORE PROCUREMENT DEPARTMENT</h2>
<p>
To Provide a Proper Way of Requesting from Office,
Using principles of acceptable value at best Standards, transparency, 
 and equal and fair competition in compliance with board policy and University law

</p>
</div>
<div class="client-slider owl-carousel owl-theme pt-45">
<div class="client-card">

<h3>PROF. SHEHU ALHAJI MUSA</h3>
<span>Vice Chancellor</span>
<ul>
<li>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
</li>
 </ul>
<p>
    Loyalty and respect for tradition is about a sense of trust 
    and conformity to the norms and values we cherish as a community.
</p>
</p>
<i class="flaticon-quote client-card-quote"></i>
<div class="client-card-img">
<img src="{% static 'img/team/vcs.jfif' %}" alt="Images">
</div>
</div>
<div class="client-card">
<h3>Alh. Aminu Bello</h3>
<span>THE REGISTERER</span>
<ul>
<li>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
</li>
</ul>
<p>
    Loyalty and respect for tradition is about a sense of trust 
    and conformity to the norms and values we cherish as a community.
</p>
<i class="flaticon-quote client-card-quote"></i>
<div class="client-card-img">
<img src="{% static 'img/team/vcs.jfif' %}" alt="Images">
</div>
</div>
<div class="client-card">
<h3>Prof. Tijjani Saleh Bichi</h3>
<span>The DVC Admin</span>
<ul>
<li>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>
<i class='bx bxs-star'></i>

</li>
</ul>
<p>
    The Deputy Vice-Chancellor Administration,
    Prof. Tijjani Saleh Bichi. attended an International Conference,
     titled: Train the Trainers Course on Multipurpose Irradiation 
     Centre as Component of Centre for Nuclear Science and Technology 
     in Russia in November, 2019.
</p>
<i class="flaticon-quote client-card-quote"></i>
<div class="client-card-img">
<img src="{% static 'img/team/vcs.jfif' %}" alt="Images">
</div>
</div>
</div>
</div>
</div>
<hr>
<footer class="footer-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="footer-widget">
<div class="footer-logo">
<a href="index.html">
<img src="{% static 'img/Logon.png' %}" alt="Images">

</a>
</div>
<p>
    The mission of Kano University of Science and Technology, Wudil, 
    is to provide highly skilled manpower through research and training 
    to meet the challenges of a fast changing world.
</p>
<b style="color:#42BD42">KANO UNIVERSITY OF SCEINCE AND TECHNOLOGY WUDIL</b>
<!--
<ul class="social-link">
<li>
<a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
</li>
<li>
<a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
</li>
<li>
<a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
</li>
<li>
<a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
</li>
<li>
<a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
</li>
</ul>
-->
</div>
</div>
<div class="col-lg-2 col-md-6">
    
</div>
<!--
<div class="col-lg-3 col-md-6">
<div class="footer-widget">
<h3>WORKING HOURS</h3>
<ul class="footer-list-two">
<li>
<i class='bx bx-time'></i>
MONDAY: 9.00am - 4.30pm
</li>
<li>
<i class='bx bx-time'></i>
TUESDAY: 9.00am - 4.30pm
</li>
<li>
<i class='bx bx-time'></i>
WEDNESDAY: 9.00am - 4.pm
</li>
<li>
<i class='bx bx-time'></i>
THURSDAY: 9.00am - 4.30pm
</li>
<li>
<i class='bx bx-time'></i>
FRIDAY: 9.00am - 12.00pm
</li>

<li>
<i class='bx bx-phone'></i>
<a href="tel:+61283171380">+61283171380</a>
</li>
<li>
<i class='bx bx-phone'></i>
<a href="tel:+61483471680">+61483471680</a>
</li>

</ul>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="footer-widget pl-2">
<h3>Suggestion</h3>
<div class="newsletter-area">
<form class="newsletter-form" data-toggle="validator" method="POST">
<input type="Text" class="form-control" placeholder="Suggestion..." name="EMAIL" required autocomplete="off">
<button class="default-btn" type="submit">
Submit
</button>
<div id="validator-newsletter" class="form-result"></div>
</form>
</div>
</div>
-->
</div>
</div>
</div>
</footer>


<div class="copy-right-area">
<div class="container">
<div class="copy-right-text text-center">
<p>
Copyright ©2021. All Rights Reserved by
<a href="home-3.html" target="_blank">KUST WUDIL STORE PROCUREMENT DEPARTMENT</a>
</p>
</div>
</div>
</div>


<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/wow.min.js' %}"></script>

<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<script src="{% static 'js/meanmenu.js' %}"></script>

<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static 'js/form-validator.min.js' %}"></script>

<script src="{% static 'js/contact-form-script.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>